.card:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
   transition: transform 1s linear;
}
.card img {
	 transition: transform 1s linear;
	 height: 210px;
}
.card-content ,.card-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
